pychache
__pycache__/
*.py[cod]
*$py.class  
*.so
my_env/
ENV/
env/
.venv/
venv/
.pytest_cache/
.vscode/
.apk
allure-results/
logs/
reports/

app/ 
venv/
resources/app/*.apk
venv/
__pycache__/
*.pyc
logs/
reports/
allure-results/
.DS_Store
Thumbs.db

appium.log

